* {
  box-sizing: border-box;
}
.root-page {
  padding: 16px 31px;
  font-family: "Roboto", sans-serif;
}

.main-title {
  font-weight: 700;
  font-size: 52px;
  margin: 0;
  margin-bottom: 25px;
}

.form {
  display: flex;
  flex-direction: column;
}
label {
  font-weight: 400;
  font-size: 24px;
}
input,
select {
  padding-left: 20px;
  margin-bottom: 25px;
  height: 55px;
  width: 100%;
  border: solid 2px black;
  border-radius: 2px;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.chatid-input-container {
  display: none;
}
